* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    background-color: rgb(18, 18, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    width: 50rem;
    margin: auto;
    height: 37.5rem;
    align-items: center;
    text-align: center;
    border-radius: 20%;
    box-shadow: 0 0 3rem red;
    animation: zee 1s linear infinite;
}

@keyframes zee {
    0% {
        box-shadow: 0 0 2.5rem red, 0 0 5rem red;
    }

    25% {
        box-shadow: 0 0 2.5rem red, 0 0 10rem red;
    }

    50% {
        box-shadow: 0 0 2.5rem red, 0 0 5rem red;
    }

    75% {
        box-shadow: 0 0 5rem red, 0 0 10rem red;
    }

    100% {
        box-shadow: 0 0 2.5rem red, 0 0 5rem red;
    }
}

h1 {
    margin-top: 1.25rem;
    color: green;
    font-size: 3.75rem;

}

form.all-input div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.25rem;
    padding: 0.625rem;
    font-size: 2.5rem;
    
}


form.all-input div input {
    width: 31.25rem;
    height: 3.75rem;
    outline: none;
    border: none;
    border-radius: 1.875rem;
    text-align: center;
    margin-top: 1.25rem;
    box-shadow: 0 0 0.625rem green;
    cursor: pointer;
   

}

.fas,
.fa{
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    right: 0.313rem;
}

input[placeholder],
[placeholder],
*[placeholder] {
    color: rgb(231, 90, 25) !important;
    font-size: 1.5rem;
    border-radius: 1.875rem;
    padding: 0.625rem;
    width: 31.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    
    
}
button {
    font-size: 1.5rem;
    width: 31.25rem;
    height: 3.75rem;
    margin-top: 2.5rem;
    border-radius: 2.5rem;
    border: none;
    box-shadow: 0 0 1.5rem red;
}

button:hover {
    box-shadow: 0 0 2.5rem #66b3ff;
    transition: 0.5s;
    transform: scale(1.04);
    cursor: pointer;
}



@media screen and (max-width:700px){
    form.all-input div{
        width: 20rem;
    }
    form{
        width: 24rem;
    }
    button{
        width: 20rem;

    }
    input[placeholder],
[placeholder],
*[placeholder]{width: 20rem;

}
    
}
