body
{
    background: black ;
}

.payment
{
    border:0.063rem solid #e6cb1a;
    height:25rem;
    border-radius:1.25rem;
    background:#fff;
}
.payment_header
{
   background:rgba(255,102,0,1);
   padding:1.25rem;
   border-radius:1.25rem 1.25rem 1.25rem 1.25rem;
   
}

.check
{
   margin:0rem auto;
   width:3.125rem;
   height:3.125rem;
   border-radius:100%;
   background:#fff;
   text-align:center;
}

.check i
{
   vertical-align:middle;
   line-height:3.125rem;
   font-size:1.875rem;
}

.content 
{
    text-align:center;
}

.content  h1
{
    font-size:3.125rem;
    padding-top:1.563rem;
}
p{
    font-size: 1.563rem;

}

.content a
{
    width:12.5rem;
    height:2.188rem;
    color:#fff;
    border-radius:1.875rem;
    padding:0.313rem 0.625rem;
    background:rgba(255,102,0,1);
    transition:all ease-in-out 0.3s;
    font-size: 1.875rem;
}

.content a:hover
{
    text-decoration:none;
    background:#000;
}
@media screen and (max-width: 700px){
    .payment{
        height: 30rem;
    }
}